/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Global styles*/
*{
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-weight: 400;
    color: #939191;
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 4.8em;
}

h2, h3, h4 {
    text-align: center;
}

h2 {
    font-size: 4.8em;
    font-weight: 700;
    color: #55557d;
}

h3 {
    font-size: 3.6em;
    font-weight: 500;
    color: #2b2b2b;
}

h4 {
    font-size: 2em;
    font-weight: 500;
    color: #2b2b2b;
}

p {
    font-size: 2.4em;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.brake {
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.brake:after {
    content: "480px";
    color: white;
    display: block;
    background-color: red;
    padding: 5px 10px;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

img {
    max-width: 100%;
    height: auto;
}

/* ====== HEADER ====== */
header {
    padding: 13px 8px 20px 8px;
    box-shadow: 7px 7px 21px  rgba(0, 0, 0, 0.22); 
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 25%;
    width: 75%;
    height: 100%;
    background: #2b2b2b;
    text-align: center;
    color: #fff;
    opacity: 0.9;
}

nav ul {
    display: table-cell;
    vertical-align: middle;
}

nav a {
    color: #fff;
    font-size: 2em;
    line-height: 60px;
    padding: 5px 5px;
}

nav .close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
}

nav .close span {
    width: 40px;
    height: 4px;
    background: #55557d;
    display: block;
    transform: rotate(45deg);
}

nav .close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -4px;
}

.header-logo {
    display: inline-block;
    margin-top: 10px;
}

.header-logo img {
    width: 90px;
    height: 20px;
}

.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 5px;
}

.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}

.burger span:nth-child(1) {
    margin-top: 0;
    width: 60%;
    float: right;
}

.burger span:nth-child(2) {
    width: 80%;
    float: right;
    clear: both;
}

.burger span:nth-child(3) {
    float: right;
    clear: both;
}

.btn {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    background-color: #55557d;
    padding: 20px 50px;
    border-radius: 10px;
}

.btn2 {
    position: relative;     
    margin: 20px 0;
    left: 50%;
    margin-left: -107px;
    font-size: 1.8em;
    font-weight: 400;
    padding: 20px;
}

.btn:hover {
    background-color: #fff;
    color: #3b3b3b;
    border: 5px solid #55557d;
}
/* ====== END OF HEADER ======*/

/* ====== HERO SECTION ======*/
.hero {
    height: 100vh;
    background-image: url("../img/hero.png");
    background-position: 20% -70%;
    background-repeat: no-repeat;
}

.hero-left {
    max-width: 600px;
    margin: 150px 0 auto;
}

.hero-left h1 {
    font-size: 2.4em;
    font-weight: 400;
}

.hero-left strong {
    color: #2b2b2b;
    font-weight: 700;
}
/*====== END OF HERO SECTION =====*/

/* ====== NASE USLUGE ===== */
.services {
    background-color: #fafafa;
}
.services h2::after,
.text-right h2::after {
    content: '';
    display: block;
    width: 110px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -55px;
}
/* ===== END OF NASE USLUGE ==== */

/* ===== JEZICI ====== */
.language h3::after {
    content: '';
    display: block;
    width: 50px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -25px;
}

.language p {
    font-size: 2em;
}

.icons {
    display: grid;
    grid-template-columns: 120px 120px;
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
}

.icons img {
    margin: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.icons p {
    text-align: center;
}

.serbian {
    grid-column-start: 1;
    grid-column-end: 3;
}
/* ====== END OF JEZICI ===== */

/* ====== USMENO PREVODJENJE ===== */
.verbal-translation {
    width: 100%;
    margin: 50px 0;
    padding: 50px 15px;
    background-color: #fff;
}

.verbal-text h3::after {
    content: '';
    display: block;
    width: 190px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -95px;
}

.verbal-text p {
    font-size: 2.2em;
}
/* ====== END OF USMENO PREVODJENJE ====== */

/* ====== PREVODILACKE USLUGE ======= */
.service {
    margin: 50px 0px;
    display: grid;
    grid-template-columns: 220px;
    grid-template-rows: 310px;
    justify-items: center;
    justify-content: center; 
    grid-gap: 20px;
}

.list-of-services h3::after {
    content: '';
    display: block;
    width: 190px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -95px;
}

.written {
    margin: 0;
    padding: 0;
    background-color: #fff;
    padding: 20px 10px;
    justify-items: center;
    box-shadow: 7px 7px 21px  rgba(0, 0, 0, 0.22);
}

.written p {
    font-size: 1.6em;
    padding: 0 10px;
}

.written img {
    padding-left: 10px;
}
/* ====== END OF PREVODILACKE USLUGE =====*/

/* ====== OBLASTI PREVODJENJA ======*/
.translation-areas h2::after {
    content: '';
    display: block;
    width: 256px;
    position: absolute;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -128px;
}

.translation-areas img {
    width: 100%;
    height: 100%;
}

.text-area p {
    font-size: 2em;
}

.two {
    display: none;
}

.circles {
    position: relative;
    text-align: center;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* ===== END OBLASTI PREVODJENJA ======*/

/* ====== STATISTICS ====== */
.stats {
    position: relative;
    margin: 0;
    height: auto;
    background-image: url('../img/stats.png');
    background-position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -12;
}

.stats:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(47,47,69, 0.8);
    z-index: -2;
}

.star {
    width: 150px;
    height: 190px;
    margin: 20px auto;
    text-align: center;
    color: #fff;
    z-index: 33;
}
/* ======= END OF STATISTIC ====== */

/* ====== CENOVNIK ====== */
.price {
    background-color: rgba(41, 10, 89, 0.3);
}
.price h2::after,
.price h3::after {
    content: '';
    display: block;
    width: 110px;
    position: relative;
    border-top: 1px solid #939191;
    margin-top: 10px;
    left: 50%;
    margin-left: -55px;
}

.price p {
    display: inline-block;
    font-size: 1.8em;
}
.price-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px; 
    justify-content: center;
    justify-items:center;
}
.price-card {
    max-width: 400px;
    background-color: #fff;
    padding: 40px 10px;
    border-radius: 5px;
    box-shadow: 7px 7px 21px  rgba(0, 0, 0, 0.22);
}

.price-list .price-card li {
    position: relative;
    margin-bottom: 25px;
    padding: 0 20px;
}
.price-list .price-card p {
    color: #2b2b2b;
    font-weight: 500;
    margin: 0;
    display: inline;
    padding-right: 15px;
}
.price-list .price-card span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8em;
    padding-right: 15px;
}

.written-price {
    position: relative;
    max-height: 500px;
    margin-top: 20px;
}
.verbal-price  {
    padding-bottom: 150px;
}
.verbal-price ul{
    padding: 50px 20px 0px 20px;
}
/* ====== END OF CENOVNIK ======*/

/* ====== O NAMA ======*/
.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}
.no-img {
    display: none; 
}
.animation {
    width: 100%;
    margin: 0;
    position: relative;
    max-width: 500px;
    max-height: 465px;
    background-color: #fafafa;
    border-radius: 50%;
}
.first {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
}
.text-right {
    position: relative;
    max-width: 560px;
}

/* ====== END OF O NAMA ====== */


/* ====== KONTAKT ====== */
.contact h2 {
    font-size: 4em;
    color: #2b2b2b;
}

.contact p {
    text-align: center;
    font-size: 1.6em;
    padding-bottom: 40px;
}

.contact ul {
    margin-top: 50px;
}

.contact-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}

.contact li {
    text-align: center;
    width: 200px;
}

.social-net li {
    display: inline;
    padding-right: 10px;
}

.social-net {
    display: inline;
}
/* ======= END OF KONTAKT ======*/

/* ====== FOOTER ====== */
footer {
    width: 100%;
    background: #2b2b2b;
    height: 100px;
}

footer p {
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 1.6em;
}

footer a {
    position: absolute;
    right: 50px;
}


/* ====== MEDIA QUERIES ====== */
@media only screen and (min-width: 400px) {
    .hero {
        height: 100vh;
        background-image: url("../img/hero.png");
        background-position: -200% -70%;
        background-repeat: no-repeat;
    }
    .brake:after {
        content: "400px";
        background-color: red;
    }
}

@media only screen and (min-width: 520px) {
    .icons {
        grid-template-columns: 120px 120px 120px 120px;
    }
    .serbian {
        grid-column-start: 2;
        grid-column-end: 4;
    }
    .btn2 {
        margin-left: 0 auto;
    }

    .crown {
        display: grid;
        grid-template-columns: 200px 200px;
        grid-template-rows: auto;
        justify-content: center;
        justify-items: center;
        grid-gap: 20px;
    }

    .contact-list {
        grid-template-columns: 1fr 1fr;
    }

    footer p {
        top: 30px;
        display: inline;
    }

    footer a {
        right: 100px;
        padding-top: 20px;
    }

    .brake:after {
        content: "500px";
        background-color: red;
    }
}

@media only screen and (min-width: 768px) {
    .language p,
    .verbal-text p,
    .translation-areas p {
        text-align: center;
        padding: 0 20px;
    }
    .icons {
        grid-template-columns: 120px 120px 120px 120px 120px;
    }
    .serbian {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .service {
        grid-template-columns: 220px 220px;
        grid-gap: 20px;
    }

    .written-list {
        height: 500px;
    }

    .brake:after {
        content: "768px";
        background-color: red;
    }
    
}

@media only screen and  (min-width: 992px) {
    .verbal-translation {
        width: 100%;
        padding: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: 47% 53%;
        grid-template-rows: 500px;
    }
    .verbal-translation img {
        height: 100%;
    }
    .verbal-text {
        padding: 50px 100px 50px 67px;
    }
    .verbal-text h3 {
        text-align: left;
    }
    .verbal-text p {
        text-align: left;
        padding: 0;
    }
    .verbal-text h3::after,
    .text-right h2::after {
        margin-left: auto;
        left: auto;
    }

    .list-of-services {
        padding-top: 50px;
    }
    .text-area {  
        padding: 40px 70px;
        column-count: 2;
        column-gap: 30px;
        text-align: left;
    }
    .text-area h3:first-of-type,
    .text-area p:first-of-type {
        text-align: left;
        margin: 0;
        padding: 10px 0;
    }
    .text-area img {
        padding: auto;
    }
    .verbal-text button {
        margin-left: 0;
        left: 0;
    }

    .crown {
        grid-template-columns: repeat(4, 200px);
    }

    .price-list {
        grid-template-columns: 400px 400px;
    }
    .written-price {
        width: 360px;
    }
    .price-list .price-card li::after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #ddd;
    bottom: 30px;
    left: 52%;
    top: 20px;
    position: absolute;
    z-index: 4;
}
    .verbal-price  {
    padding-bottom: 220px;
}
    .about {
        grid-template-columns: 1fr 1fr;
    }
    .text-right {
        padding-left: 30px;
    }
    .text-right h2, h3, p{
        text-align: left;
    }
    .text-right button {
        left: 0;
        margin-left: 0;
    }

    .contact-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    footer a {
        padding-right: 50px;
        padding-top: 20px;
    }
    .brake:after {
        content: "992px";
        background-color: red;
    }

}

@media only screen and (min-width: 1024px) {
    /* ===== HEADER ===== */
    header {
        padding: 10px 0 10px;
    }
    .header-logo {
        padding-top: 20px;
    }
    nav {
        display: block;
        position: initial;
        width: auto;
        height: auto;
        background: inherit;
        float: right;
    }

    nav li {
        float: left;
    }

    nav a {
        color: #2b2b2b;
        margin-left: 20px;
    }

    nav a.active,
    nav a:hover {
        color: #55557d;
    }

    .burger, 
    nav .close {
        display: none;
    }

     .service {
        grid-template-columns: 220px 220px 220px;
    }
    .brake:after {
        content: "1024px";
        background-color: red;
    }
}

@media only screen and (min-width: 1300px) {
    .service {
        grid-template-columns: repeat(5, 220px);
    }
    .brake:after {
        content: "1300px";
        background-color: red;
    }
    .price-list {
        grid-template-columns: 400px 400px 400px;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */
.unstyle-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.text-center {
    text-align: center;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

button {
    background: transparent;
    border: none;
}
/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
